[user]
	name = Jared Bents
	email = jared.bents@collins.com
[sendemail]
	    smtpserver = smtpimr.collins.com
	        smtpserverport = 25
[log]
	    decorate = full
[color]
	    ui = true
	        branch = auto
		    diff = auto
		        status = auto
[core]
	    editor = vim
[commit]
	    template = ~/.gitmessage.txt
[push]
	    default = simple

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
